# Web framework
fastapi
uvicorn

# Data models
pydantic

# LangChain core
langchain
langchain-community
langchain-core
langchain-groq



# Utility libraries
httpx
requests

python-dotenv
